/* General Styles */
body {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #1e1e1e;
    color: #e0e0e0;
    text-align: center;
}
.profile-img {
    height: 30px;
    margin-right: 10px;
}

/* Layout Styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Section Styles */
main section {
    background-color: #2e2e2e;
    color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

/* State Styles */
.state {
    display: flex;
    align-items: center;
    gap: 20px;
}

.state p {
    flex: 1;
    margin: 0;
}

.state img {
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* About Me Styles */
.about-me {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-me p {
    flex: 1;
    margin: 0;
    order: 1;
}

.about-me img {
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    order: 2;
}

/* Two Columns Layout */
.two-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.two-columns section {
    flex: 1;
    background-color: #2e2e2e;
    color: #e0e0e0;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    text-align: center;
}

.two-columns section:last-child {
    margin-right: 0; 
}

.two-columns img {
    max-width: 100%; 
    height: auto; 
    max-height: 250px; 
    display: block; 
    margin: 0 auto; 
    border-radius: 10px; 
}

/* Full Width Section */
.full-width {
    width: 100%;
    background-color: #2e2e2e;
    color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    text-align: center;
    margin-top: 20px;
}

/* Header Styles */
header {
    background-color: #2e2e2e;
    color: #e0e0e0;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 1.5em;
    justify-content: center;
}

/* Navigation Styles */
nav {
    background-color: grey;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Large-screen Navigation */
.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

/* Navigation Links */
.nav-links a {
    display: block;
    text-decoration: none;
    color: #f0a500;
    font-weight: 700;
    padding: 5px 10px;
    text-align: center;
}

.nav-links a:hover {
    background-color: #4e4e4e;
    color: #e0e0e0;
    border-radius: 5px;
}

.nav-links a.active {
    display: flex;
    color: #f0a500;
    background-color: #2e2e2e;
}

/* Header Title */
header h1 {
    background-color: #4e4e4e;
    color: #e0e0e0;
    padding: 10px;
    font-size: 2.5em;
}

/* Subheader Styles */
h2 {
    background-color: grey;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

/* Card Styles */
.card {
    background-color: #2e2e2e;
    color: #e0e0e0;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    text-align: center;
}

.card a {
    color: #f0a500;
}

.card a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* certificate section */
body {
    font-family: "Roboto", serif;
    background-color: #1e1e1e;
    color: #e0e0e0;
    text-align: center;
}


.certificate-section {
    width: 60%;
    margin: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

li:hover {
    transform: scale(1.02);
}

.completed {
    background-color: #4CAF50;
    color: #e0e0e0;
    font-weight: bold;
}


.not-completed {
    background-color: #f44336;
    color: #e0e0e0;
    font-weight: bold;
}


.course-title {
    font-size: 18px;
    font-weight: bold;
    color: #e0e0e0;
}


.course-desc {
    font-size: 14px;
    margin-top: 5px;
    color: #e0e0e0;
}


.course-tech {
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
    color: #e0e0e0;
}

.filter-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.filter-buttons button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background-color: #022b3a;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.filter-buttons button:hover {
    background-color: #669bbc;
}

.course-card {
    border: 1px solid #2e2e2e;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #1e1e1e;
}

/* Footer Styles */
footer {
    background-color: #2e2e2e;
    color: #e0e0e0;
    text-align: center;
    padding: 15px 0;
}

footer p {
    margin: 5px;
}

/* Image Styles */
img {
    border: 1px solid #f0a500;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
}

/* List Styles */
section ul {
    list-style-type: disc;
    padding-left: 20px;
}

section ul li {
    margin-bottom: 5px;
}

/* Small-screen (Mobile) Navigation */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: grey;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
    }

    .nav-links li {
        text-align: center;
        padding: 10px 0;
    }

    .menu-toggle {
        display: block;
        margin-left: auto;
    }

    .nav-active {
        display: flex;
    }
}

/* Subject Grid Layout */
.subject-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.subject {
    background-color: grey;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.subjects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.subject-card {
    background-color: #474747;
    color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
#weather {
    display: block; 
    visibility: visible;
    color: white; 
    position: relative;
    z-index: 10;
}

@media (max-width: 768px) {
    .subjects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .subjects-container {
        grid-template-columns: 1fr;
    }
}
