body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: #1e1e1e;
    color: #e0e0e0;

}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #36178b;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #8D093F;
}

main {
    padding: 20px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;

    gap: 20px;
    max-width: 95%;
    margin: 0 auto;
}

figure {
    background-color: #2a2a2a;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

figure img {
    width: 100%;
    height: auto;
    display: block;
}

figcaption {
    padding: 10px;
    font-size: 1em;
    color: #e0e0e0;
}

#hamburger {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}


#menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

@media (max-width: 768px) {
    #hamburger {
        display: block;
    }

    #menu {
        display: none;
        flex-direction: column;
        gap: 10px;
    }

    #menu.open {
        display: flex;
    }
}


.res-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.res-grid section {
    background-color: rgb(69, 69, 69);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.res-grid h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #000000;
}


.res-grid .label {
    font-weight: bold;
    color: #ffffff;
}

.res-grid img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .res-grid {
        grid-template-columns: 1fr;
    }
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
}

header {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
}